* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#snake-field{
	background: black;
	border: 1px solid green;
}
#game-counter{
	background-color: blanchedalmond;
	height: 200px;
	border: 1px solid black;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60px;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#snake-start, #snake-renew{
	width: 150px; 
	padding: 15px; 
	color: white;
	background: green;
	text-align: center;
	cursor: pointer;
	float: left;
	margin-right: 10px;
}

.game-table{
	border-collapse: collapse;
}

td.game-table-cell {
    width: 15px;
    height: 15px;
    border: 1px dotted #eee;
    border-collapse: collapse;
}

.snake-unit{
	background: white;
}

.food-unit{
	background: red;
}

.wall-unit{
	background-color: aqua;
}